<app-header></app-header>
<div class="content" (window:resize)="calcSize($event)">
    <h1>About</h1>
    <ol>
        <h2>Name:</h2>
        <p>themetreeos.xyz</p>
        <h2>Nicknames:</h2>
        <p>www.themetreeos.xyz && lananas.themetreeos.xyz</p>
        <h2>Height</h2>
        <p>{{height}} Pixels</p>
        <h2>Width</h2>
        <p>{{width}} Pixels</p>
        <h2>Paths</h2>
        <p>/home && /snek && /aboutme</p>
        <h2>Life expectency</h2>
        <p>1 Year</p>
        <h2>Job</h2>
        <p>Entertainer</p>
        <h2>Schedule</h2>
        <p>24/7</p>
        <h2>Final thoughts</h2>
        <p>Error: Object is possibly 'null' at <a href="/aboutme#null"> aboutme.component.html:25</a></p>
    </ol>
</div>

<div id="null">
    25: let finalthoughts = document.querySelector("p.finalthoughts"); 
</div>
