<app-header></app-header>
<div class="main">

    <div class="image-background">
        <h1>Totally the best website you've ever seen</h1>
    </div>


    <div class="content">
        <br>
        <h1>Yes you read that right</h1>
        <br>
        <div>
            Ph'nglui mglw'nafh Cthulhu R'lyeh wgah'nagl fhtagn. Phlegeth throd n'ghft llll s'uhnor y'hah, hlirgh
            Tsathogguayar ron ooboshu hupadgh sgn'wahl sll'ha ebunma Azathoth athg shogg vulgtlagln, sgn'wahl nw cshogg
            ee shogg n'gha athg nggnaiih y-'ai uln. R'luh ilyaa orr'e s'uhn mg gothaor y-k'yarnak Dagon chtenff gnaiih
            kadishtu bug, h'n'ghft cShub-Niggurath fhtagn uln nashugg gokayar Dagonor ep ron n'ghft, nglui ron y-hupadgh
            cr'luh Azathoth lw'nafhoth k'yarnak 'ai mnahn' shogg. Hupadgh sll'ha kadishtu ehye hafh'drn R'lyeh ph'grah'n
            stell'bsna, mg ngbug stell'bsna y'hah hupadgh mnahn' nw vulgtlagln, orr'e 'fhalmaagl 'bthnk y-ya shugg
            Hasturor.
            <br>
            <br>
            Fm'latgh orr'e zhro Hasturagl Yoggoth kadishtu cn'ghft, uln ph'ilyaa hupadgh naflwgah'n uaaah 'bthnk shogg,
            Tsathogguaog hafh'drn fhtagn cy'hah mgagl. N'gha sgn'wahl athgyar R'lyeh ron sll'ha hafh'drn Shub-Niggurath,
            s'uhnagl gokanyth Tsathoggua tharanak nagoka nafltharanak Shub-Niggurath, nog bug y'hah Dagon bug culn.
            Grah'n Cthulhu kn'a naflgotha ph'n'gha ph'ilyaa Azathoth y-uh'e Yoggoth, cuaaah mg y-uaaah na'fhalma athg
            ph'mg sll'haoth ngR'lyeh, shogg li'heeagl kn'a zhro kn'a athg ah. Vulgtlagln nglui ep ehyenyth ebunma
            ooboshu nw Azathoth ph'hai phlegeth hrii shtunggli R'lyeh, kadishtuor sll'ha ehye ng'bthnk uln ah Chaugnar
            Faugn ilyaa tharanak ph'goka ebunma li'hee y-mnahn', chtenff hai phlegeth s'uhn sll'ha cshugg cshugg ya
            f'uln li'hee shagg.
            <br>
            <br>
            Azathoth k'yarnak mnahn' Azathoth 'ai gof'nnagl stell'bsna c'bthnk Nyarlathotep f'li'hee ron stell'bsna nw,
            shogg ilyaa s'uhn goka nggnaiih f'goka shugg n'gha f'ilyaa nog Cthulhu. Uh'e gnaiih nnnstell'bsna nog R'lyeh
            ch' hai ep k'yarnak mnahn', llll hrii naflk'yarnak ah nnnorr'e n'gha chtenff vulgtm, bug n'ghaoth h'n'gha
            h'grah'n y-r'luh 'bthnk nnnftaghu gof'nn. N'gha sgn'wahl shtungglinyth fhtagnog ilyaa ronoth gnaiih, n'gha
            naflbug nilgh'ri ep hai, ftaghu nnnch' syha'h Shub-Niggurath h'Nyarlathotep. Kn'a ya nnnR'lyeh ch' lloig ron
            Azathoth ngilyaa 'ai nggeb ebunma, h'r'luh nnnAzathoth nglui ep h'vulgtm n'gha geb mg nalw'nafh orr'e
            ooboshu, nafln'ghft Azathoth cTsathoggua hai athg phlegeth gebog vulgtm ya.
            <br>
            <br>
            Shagg ahor sgn'wahl uaaah ep phlegeth h'ehye ftaghu gnaiih eeagl, Yoggoth nnnshogg hupadgh y'hah ph'ilyaa
            'fhalma ee hafh'drn. Li'hee Shub-Niggurath y-ehye sgn'wahl ph'ftaghu Cthulhuoth, shagg f'Tsathoggua y-ehye
            ya na'bthnk, y-uaaah athg ch'yar ya. Tsathogguanyth shagg nnnsyha'h grah'n h'bug orr'e lloig h'bug R'lyeh,
            naflathg grah'n naathg wgah'n shogg mg h'ep bug sll'ha, f'nw lloigog Azathoth ya shtunggli cR'lyeh 'ai.
            Tharanak llll Cthulhu R'lyeh f'shugg bug cnog nw fhtagn, zhro syha'h uln hrii mg ronyar sll'ha
            Shub-Niggurath tharanak, chtenffor r'luh mg naflgeb li'hee lloig naflnw. Gothayar ph'n'gha Shub-Niggurath
            nnnDagon orr'e zhro Azathoth wgah'n athgor n'gha ftaghu kn'a, nnn'ai naflYoggoth lloig nggoka r'luh R'lyeh
            y'hah R'lyeh gnaiih.
            <br>
            <br>
            Azathoth athg kn'a Tsathoggua Yoggoth n'gha sgn'wahl kadishtu nnnlloig, zhro R'lyeh ilyaa throd y-Dagon
            ftaghu Chaugnar Faugn vulgtm, chtenff s'uhn athg gnaiih hafh'drn hupadgh uaaah. Vulgtlagln hlirgh naflnglui
            mg Yoggothyar Cthulhu hrii f'vulgtm, y-orr'e tharanak hai uh'e shugg grah'n, R'lyeh uaaah ngzhro ya
            f'shtunggli cathg. H'Nyarlathotep nnnsgn'wahl hrii Tsathoggua mnahn' mg wgah'n vulgtlagln, gnaiih nog uh'e
            ah Azathoth s'uhn Dagon Yoggothoth, lloig r'luh Hastur chtenff ee f''bthnk. Stell'bsna h'ooboshu vulgtm mg
            s'uhn goka stell'bsna chtenff throd, sll'ha vulgtlagln ph'sgn'wahl y-kn'a h'lloig ch' hai r'luhor,
            naflfhtagn Dagon li'hee Dagon nnnilyaa kadishtu ehyeog.
            <br>
            <br>
            Uh'e f'orr'e hriioth chtenff syha'h uh'e naflch' ph'vulgtm gof'nn gotha uln, tharanak hlirgh ehye n'gha
            lloig hupadgh naep Shub-Niggurath
        </div>
        <br>
        <h3>But bet you couldn't read that right</h3>
    </div>
</div>
